* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 50%;
}

td, th {
    padding: 2px;
    display: table-cell;
}

thead {
    text-align: left;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.td {
    background-color: #ccc;
    border-collapse: collapse;
}

.LiColor a {
    color: black;
}

.None {
    list-style: none;
}